<h1> <%= "#{@billboard.chart}" %> </h1>
<h3> Click a song for more details </h3>


<% @songs.each do |song| %>
  <p><strong><%= song.rank %></strong> <%= link_to song.title, billboard_song_path(@billboard, song) %><p> 
  
  <% end %> 
 

<%= link_to 'Create Song', new_billboard_song_path(@billboard) %>

<%= link_to 'Billboard List', root_path %>

<%= link_to 'Edit Chart', edit_billboard_path(@billboard) %> 

 <%= link_to 'Delete Chart', @billboard, method: :delete %>



